/* ChoosePlanPage.css */
.plan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.plan-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures that the button aligns to the bottom */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plan-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.plan-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 20px;
    color: #fefbfb;
    margin-bottom: 15px;
}

.plan-features {
    flex-grow: 1; /* Allows the features list to expand and push the button down */
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.plan-features li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.plan-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.plan-button:hover {
    background-color: #004494;
}
